form.filters{
	background-color: #ddd
	
}

div#agencies {
	background-color: pink;
	/*position:absolute;*/
}

div#bus-routes{
	background-color: #FFFFCC;
	/*margin-left: 26%;
	position: absolute;*/

}

div#times{
	background-color: #99CCFF;
/*	margin-left: 52%;*/
}

#map { 
	height: 600px

}
/*.menu-ui {
background: #fff;
position: absolute;
top: 10px;
right: 10px;
z-index: 1;
border-radius: 3px;
width: 120px;
border: 1px solid rgba(0,0,0,0.4);
}*/