<html>
	<head>
		<link rel="stylesheet" href="/static/css/style.css" />
		<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet' />
	</head>


	<body>
		<div id='map'>
			<iframe width='100%' height='450px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/laviniaclare.ina498lm/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoibGF2aW5pYWNsYXJlIiwiYSI6InJhVFIyWW8ifQ.zuBITXYOjkabx4k82r5Myg'></iframe>

			<script type='text/javascript' src="/static/map.js"></script>
			
		</div>

		<h2><a href='/'>Change Options</a></h2>
	</body>

</html>