<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset=utf-8 />
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet' />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
       
		<link rel="stylesheet" href="/static/css/bootstrap-multiselect.css" type="text/css"/>
	</head>

	<body>

		
		<form action='/api/routes' class='filters' method='GET'>
			
			<div class='btn-group'>
				<select name='routes' class="multiselect" multiple="multiple">
					{% for agency in agencies_list %}
					<optgroup label="{{ agency_names[agency.agency_id] }}"></optgroup>

						{% for route in agency_routes[agency.agency_id] %}
							<option value="{{ agency_routes[agency.agency_id][route]['id'] }}">{{ agency_names[agency.agency_id] }}: {{ agency_routes[agency.agency_id][route]['name'] }}
							</option>
						 {% endfor %}
			
					{% endfor %}
				</select>
				<button type='submit' class="btn btn-primary">Show Routes</button>
			</div>
		</form>

	<div id='map'></div>


		<script src='/static/map.js'></script>
		
		

		<script type='text/javascript' src='http://code.jquery.com/jquery.min.js'></script>

		 <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="/static/bootstrap-multiselect.js"></script>

		<script src='http://underscorejs.org/underscore.js'></script>

		<script type='text/javascript' src="/static/magic.js"></script>
	</body>	
</html>