<html>
	<head>
        <link rel="stylesheet" href="/static/css/style.css" />
	</head>

	<body>
		<div id='filters'>
			
			<form action='' class='filters' method='POST'>
				<h2>What do you want to see?</h2>
				<h4>You can pick several systems to diplay on the map, or just pick the routes you want to see.</h4>
				<div id='systems'>
					<h4><u>Systems</u></h4>
					Select a system to diplay all lines in that system on the map.<p></p>
					<input type="checkbox" name="system" value=none checked=checked/> No full systems
				</div>
				<div id='bus-lines'>
					<h4><u>Lines</u></h4>
					Select lines to show just these lines on the map.<p></p>
					<input type="checkbox" name="line" value=none checked=checked/> All lines in selected systems.
					<div id='ACT'><br></br>
						ACTransit:
						<input type="checkbox" class='ACT' name="line" value='ACT-72m'/>72m
						<input type="checkbox" class='ACT' name="line" value='ACT-51A'/>51A
					</div>
					<div id='MUNI'><br></br>
						MUNI:
						<input type="checkbox" class='MUNI' name="line" value='1'/> 1-California
						<input type="checkbox" class='MUNI' name="line" value='2'/>2-Clement
						<input type="checkbox" class='MUNI' name="line" value='3'/> 3-Jackson
					</div>
					<div id='CT'><br></br>
						CalTrans:
						<input type="checkbox" class='CT'name="line" value='11'/>11
						<input type="checkbox" class='CT' name="line" value='12'/>12
					</div>
					<div id='BART'><br></br>
						BART:
						<input type="checkbox" class='BART'name="line" value='red'/>Richmond-sf
						<input type="checkbox" class='BART' name="line" value='yellow'/>SFO-Pistburge/Bay Point
						<input type="checkbox" class='BART'name="line" value='orenge'/>Richmond-Freemont
						<input type="checkbox" class='BART' name="line" value='blue'/>Dublin/Pleasanton-sf
						<input type="checkbox" class='BART'name="line" value='green'/>Freemont-sf
					</div>
				</div>
				<div id='times'>
					<h4><u>Times</u></h4>
					Only bus lines running during the selected times will be diplayed.<p></p>
					<select type="dropdownlist" name="time">
		                <option name='time' value=none>Anytime </option>
		                <option name='time' value="day">Daytime
		                </option>
		                <option name='time' value="late"> After Midnight
		            </select>
				</div>
				<div id='button'>
					<button type="btn btn-lg btn-primary btn-block" type="submit">Show Me the Map!</button>
				</div>


			</form>

		</div>	

		<script type='text/javascript' src='http://code.jquery.com/jquery.min.js'></script>

		<script src='http://underscorejs.org/underscore.js'></script>

		<script type='text/javascript'>


		// now to make all this work for all the bus systems instead of just one.  Oh boy.
			var systems=[{
				id:'ACTransit',
				lines:[{
					id:1,
					name:'blah'
				}]
			}]

			var systemCheckboxTemplate=_.template("<input type='checkbox' name='system' id='<%=id%>' value='<%=id%>'/><label for='<%=id%>'><%=id%></label>")

			function renderSystemCheckboxes(systems){
				return _.map(systems, systemCheckboxTemplate)
				
			}

			function enablelines(){
				l=$( "input[class='ACT']" );
				l.prop('disabled', false);
				console.log('I enabled some boxes!');
			}

			function disablelines(){
				l=$( "input[class='ACT']" );
				l.prop('disabled', true);
				console.log('I disabled some boxes!');
			};

			function togglelines(e){
				console.log(e)
				var $target=$(e.target)
				var g=$( ".ACT" ).filter( ":checkbox[disabled]" );
				if(g.length>0){
					enablelines();
				} else {
					disablelines();
				}
			};

			function main() {
				// var systems=['ACTransit','BART','CalTrans','MUNI']
				// for (var i = 0; i < systems.length; i++) {
				var systemsContainer = $('div#systems')

				var systemCheckboxesHtml=renderSystemCheckboxes(systems).join('')

				systemsContainer.append(systemCheckboxesHtml)

				var s=$('input[name=system]');
				
     			s.on('change', togglelines);
    		};

			$(main);

		</script>
	</body>	
</html>