<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset=utf-8 />
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet' />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
       
		<link rel="stylesheet" href="/static/css/bootstrap-multiselect.css" type="text/css"/>
	</head>

	<body>
		<h2>What do you want to see?</h2>
				<h4>You can pick several agencies to diplay on the map, or just pick the routes you want to see.</h4>
		<div class="row">
			<div class="col-md-4">
				
				<div id='filters'>
						
					<form action='/' class='filters' method='POST'>
						<!-- <div id='agencies'>
							<h4><u>Agencies</u></h4>
							<p>Select an agency to diplay all routes in that agency on the map.</p>
							{% for agency in agencies_list %}
								<input type="checkbox" name="agency" value='{{ agency.agency_id }}' data-agency-id="{{agency.agency_id}}" data-agency-name="{{ agency_names[agency.agency_id] }}" />{{ agency_names[agency.agency_id] }}<br></br>
							{% endfor %}
							
							
						</div--> 
						<div id='button'>
							<button type="btn btn-lg btn-primary btn-block" type="submit">Show Me the Map!</button>
						</div>
						
						<div id='bus-routes'>
							<h4><u>Routes</u></h4>
							<p>Select routes to show just these routes on the map.</p>
							<div class='btn-group'>
								<select class="multiselect" multiple="multiple">
									{% for agency in agencies_list %}

										{% for route in agency_routes[agency.agency_id] %}
											<option value="{{ agency_routes[agency.agency_id][route]['id'] }}">{{ agency_names[agency.agency_id] }}: {{ agency_routes[agency.agency_id][route]['name'] }}
											</option>
										 {% endfor %}
							
									{% endfor %}
								</select>
								<button id="example28-values" class="btn btn-primary">Get Selected</button>
							</div>
						</div>
					</form>

				</div>	
			</div>
			<div class="col-md-8"><div id='map'>HELLO</div></div>
		</div>

		<script src='/static/map.js'></script>
		
		

		<script type='text/javascript' src='http://code.jquery.com/jquery.min.js'></script>

		 <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="/static/bootstrap-multiselect.js"></script>

		<script src='http://underscorejs.org/underscore.js'></script>

		<script type='text/javascript' src="/static/magic.js"></script>
	</body>	
</html>